.about .aboutPhoto {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.about .aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 25px;
  background-color: var(--back);
  border-radius: 20px;
}

.portfolio .porfolioWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.portfolio .porfolioWrapper .porfolioPhoto {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.certificate .subTitle {
  text-align: center;
}

.certificate .swiper {
  width: 100%;
  height: 100%;
}

.certificate .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .portfolio .porfolioWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .about .aboutPhoto {
    height: 300px;
  }

  .about .aboutContent {
    padding: 25px 10px;
  }

  .portfolio .porfolioWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio .porfolioWrapper .porfolioPhoto {
    height: 100%;
  }
}
