.deliveryPayment .delpayWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.deliveryPayment .delpayWrapper .delpayPhoto {
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px;
}

.deliveryPayment .delpayWrapper .delpayContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 25px;
  background-color: var(--back);
  border-radius: 20px;
}

.deliveryPayment .delpayWrapper .delpayContent .delpayTitle {
  font-family: Russo One;
  font-weight: 400;
  font-size: var(--mainSubTitle);
  color: var(--button);
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .deliveryPayment .delpayWrapper {
    grid-template-columns: 1fr;
  }

  .deliveryPayment .delpayWrapper .delpayContent .delpayTitle,
  .deliveryPayment .delpayWrapper .delpayContent .mainText:not(ul) {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .deliveryPayment .delpayWrapper .delpayPhoto {
    height: 100%;
  }

  .deliveryPayment .delpayWrapper .delpayContent {
    padding: 25px 10px;
  }
}
