.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 25px 100px;
  z-index: 10;
}

.site-header .container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.topHeader,
.centerHeader,
.bottomHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.topHeader .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: Onest;
  font-weight: 500;
  font-size: var(--mainText);
  color: var(--blue);
  margin-right: auto;
}

.topHeader .adress {
  font-family: Onest;
  font-weight: 500;
  font-size: var(--mainText);
}

.topHeader .rating {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.centerHeader .logo {
  margin-right: auto;
  width: auto;
  height: 50px;
}

.centerHeader .phone {
  font-family: Onest;
  font-weight: 700;
  font-size: var(--phone);
  color: var(--red);
}

.centerHeader .social {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.centerHeader .search-box {
  display: flex;
  align-items: center;
  border: 1px solid #d6dde6;
  border-radius: 999px;
  padding: 8px 14px;
  max-width: 400px;
}

.centerHeader .search-box .search-input {
  font-family: Onest;
  font-weight: 500;
  font-size: var(--mainText);
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--dark);
}

.centerHeader .search-box .search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--mainText);
  color: var(--blue);
  line-height: 0;
}

.centerHeader .shopIcon {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.bottomHeader .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  gap: 15px;
  transition: all 0.3s ease;
}

.bottomHeader .menu .menuItem {
  font-family: Onest;
  font-size: var(--mainText);
  font-weight: 500;
  color: var(--dark);
  text-decoration: none;
}

.bottomHeader .menu-toggle {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  margin: 0;
}

.bottomHeader .menu-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--dark);
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transition: all 0.3s ease;
}

.bottomHeader .menu-toggle span:nth-child(1) {
  top: 0;
}
.bottomHeader .menu-toggle span:nth-child(2) {
  top: 10px;
}
.bottomHeader .menu-toggle span:nth-child(3) {
  top: 20px;
}

.bottomHeader .menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.bottomHeader .menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.bottomHeader .menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

@media (max-width: 1440px) {
  .site-header {
    padding: 25px 50px;
  }

  .site-header .container {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .site-header {
    padding: 25px;
  }

  .centerHeader .logo {
    height: 30px;
  }

  .centerHeader .search-box,
  .centerHeader .social {
    display: none;
  }
}

@media (max-width: 700px) {
  .site-header {
    padding: 25px 10px;
  }

  .site-header .container {
    flex-direction: row !important;
    justify-content: space-between;
    flex-wrap: nowrap !important;
    gap: 0px;
  }

  .topHeader,
  .centerHeader .shopIcon {
    display: none;
  }

  .centerHeader {
    flex-wrap: nowrap !important;
    gap: 10px;
  }

  .centerHeader .logo {
    height: 20px;
  }

  .bottomHeader .menu-toggle {
    display: block;
  }

  .bottomHeader .menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 10px 0;
    animation: slideUp 0.3s ease forwards;
  }

  .bottomHeader .menu.show {
    display: flex;
    animation: slideDown 0.3s ease forwards;
  }

  .bottomHeader .menu .menuItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottomHeader .menu .menuItem:last-child {
    border-bottom: none;
  }
}
