.comparisonWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.comparisonWrapper .comparisonItem {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border: 1px solid #b0bfd2;
  border-radius: 20px;
}

.comparisonWrapper .comparisonItem .productIMG {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.comparisonWrapper .comparisonItem .productTitle {
  font-family: Onest;
  font-weight: 500;
  font-size: var(--mainText);
  color: var(--dark);
}

.comparisonWrapper .comparisonItem .priceWrapper {
  font-family: Onest;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.comparisonWrapper .comparisonItem .salePrice {
  font-weight: 700;
  font-size: var(--phone);
  color: var(--dark);
}

.comparisonWrapper .comparisonItem .oldPrice {
  font-weight: 500;
  font-size: var(--mainText);
  color: #aeb7c4;
}

.comparisonItem .productChar {
  font-family: Onest;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.comparisonItem .productChar .charItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.comparisonItem .productChar .charItem:not(:last-child):before {
  content: '';
  position: absolute;
  top: auto;
  bottom: -15px;
  width: 100%;
  height: 1px;
  background-color: #ccdeff;
}

.comparisonItem .productChar .charItem .charName {
  font-family: Onest;
  font-weight: 500;
  font-size: var(--mainText);
  color: #616368;
}

.comparisonItem .productChar .charItem .charVal {
  font-family: Onest;
  font-weight: 700;
  font-size: var(--mainText);
  color: var(--dark);
}

@media (max-width: 1200px) {
  .comparisonWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .comparisonWrapper .comparisonItem .productIMG {
    height: 200px;
  }
}

@media (max-width: 700px) {
  .comparisonWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .comparisonItem .productChar .charItem .charName,
  .comparisonItem .productChar .charItem .charVal {
    text-align: center;
  }

  .comparisonWrapper .comparisonItem .productTitle {
    text-align: center;
  }

  .comparisonWrapper .comparisonItem .priceWrapper {
    justify-content: center;
  }

  .comparisonWrapper .comparisonItem {
    padding: 25px 10px;
  }
}
