.wishlistWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

@media (max-width: 1200px) {
  .wishlistWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .wishlistWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
